@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .title {
        font-family: 'Cinzel', serif;
        @apply text-2xl sm:text-3xl font-black
    }
    .title-2 {
        font-family: 'Cinzel', serif;
        @apply text-2xl sm:text-4xl font-black
    }
}

.cinzel {
    font-family: 'Cinzel', serif;
    letter-spacing: 0.56px;
}

.grad {
    background: var(--grad-2, linear-gradient(90deg, #FBBF24 0%, rgba(214, 251, 36, 0.1) 100%));
}
.grad-2 {
    background: linear-gradient(144deg, #E1B950 0%, #FFB800 55.31%, #C9940A 100%);
}
.after-radial {
    background: var(--radial, radial-gradient(50% 50% at 50% 50%, #FBBF24 0%, rgba(251, 191, 36, 0.78) 100%));
}